
html, body {
  background: hsl(228deg 16% 12%);
  color: #d4d5d7;
  font-family: 'Inter', system-ui, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 41px;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: center;
}

.link-style {
  color: hsl(223deg 86% 73%);
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.link-style:active {
  text-decoration: underline;
}

html, body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-synthesis: none;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

